/* Global variables for use */
:root {
  --bgdark: #0c0408;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bgdark);
  color: #fff1d8;
  font-family: Sans-Serif;
}

header,
main {
  margin-left: 10%;
}

h1 {
  font-size: 3rem;
  max-width: 60ch;
}

a {
  color: #d70a53;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Variable declared inline in html */
/* Concept taken from https://every-layout.dev/blog/css-components/ */
.h-dbl-grad {
  height: var(--h);
  border: none;
  background: linear-gradient(
    #111111 0,
    #d70a53 calc(var(--h)/5*2),
    #ffa700 calc(var(--h)/5*3),
    #d70a53 calc(var(--h)/5*4),
    #111111 calc(var(--h)/5*5)
    );
}
