{% macro meta(name, var) -%}
    <meta name="{{ name }}" content="{{ var }}">
{%- endmacro %}


{# don't need to enclose file in seperate variable {{}} brackets #}
{# as url_for function is already in a variable declaration #}
{% macro link_style(file) -%}
  <link rel="stylesheet" href="{{ url_for('static', filename=file) }}">
{%- endmacro %}

{% macro layout(layout, suffix) -%}
    {{ 'l-{}{}'.format(
      layout or 'default',
      '__' + suffix if suffix else ''
      )}}
{%- endmacro %}


{% macro svg_fragment(type, id) %}
{{ url_for('static', filename='symbols/{}.svg'.format(type)) + '#{}'.format(id) }}
{% endmacro %}
{% macro svg_file(type, name) %}
{{ url_for('static', filename='symbols/{}/{}.svg'.format(type, name)) }}
{% endmacro %}
