{% extends "base/base.j2" %}

{% block page_content %}
<ul>
  {% for page, link in pages %}
  <li><a href="{{ url_for('serve_article', path_requested=link) }}">
      {{ page.meta.title | safe }}
    </a></li>
  {% endfor %}
</ul>
{% endblock %}
