{% extends "base/base.html.j2" %}

{% block content %}

<!-- archived articles -->
<main id="page_body">
  <h1>Articles</h1>

  <details open>
    <summary>
      <h2>Archived Articles</h2>
    </summary>
    <p>From my old blog 2016-2018</p>
    <ul class="decorated">
      {% for page in pages %}
      <li><a href="{{ page.meta.link }}">
          {{ page.meta.title | safe }}
        </a></li>
      {% endfor %}
    </ul>
  </details>
</main>

<aside id="page_sidebar">
  {% block side_content %}
  {% endblock %}
</aside>

{% endblock content %}
