{% extends "base/base.html.j2" %}

{% block body %}
<!-- archived articles -->
<main id="page_body">
  <details open>
    <summary>Archived Articles</summary>
    <ul>
      {% for page in pages %}
      <li><a href="{{ url_for('serve_page', path_requested=page.path) }}">
          {{ page.meta.title | safe }}
        </a></li>
      {% endfor %}
    </ul>
  </details>
</main>



{% endblock body %}
