.DS_Store
__pycache__
.python-version

pynetlify.ini
gitlog.txt


# Ignore image directory: output files uploaded seperately to netlify
website/static/img/*
!website/static/img/src

# Ignore static/css: scss source and comipiled css already tracked on git
website/static/css

# Ignore build output (deploy directly from cli)
website/build
tmp.css
tmp.css.map
tmp/

# Local Netlify folder
.netlify
