.DS_Store
__pycache__
.python-version

pynetlify.ini
gitlog.txt


# Ignore image directory: output files uploaded seperately to netlify
website/static/img/

# Ignore static/css: scss source and comipiled css already tracked on git
website/static/css

# Ignore build output (deploy directly from cli)
website/build

# Local Netlify folder
.netlify
