-c requirements.txt
fonttools
brotli
livereload
pip-tools

### Linting/IDE ###
flake8
pylint
mypy
jedi

### Mypy Library stubs ###
types-Markdown
types-beautifulsoup4
types-Pillow
types-python-slugify
types-requests
