[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-flatpages = "*"
frozen-flask = "*"
advancedhtmlparser = "*"
minify-html = "*"
flask-minify = "*"

[dev-packages]
fonttools = "*"
brotli = "*"
pynetlify = "*"
pillow = "*"

[requires]
python_version = "3.9"
