[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-flatpages = "*"
frozen-flask = "*"

[dev-packages]
fonttools = "*"
brotli = "*"

[requires]
python_version = "3.9"
