{% extends "base/base.html.j2" %}

{% block head %}
<!-- override default grid layout for landing on homepage  -->
  <style media="screen and (min-width: 110ch)">
    body {
      margin: auto;
      min-height: 100vh;
      width: 66%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    }
  </style>
{% endblock %}

{% block body %}
<main id="page_body">
  <h1>Welcome</h1>
  {{ lipsum() }}

  <!-- homepage content sections: -->
  <!-- Banner image [main > header] -->
  <!--  -->
</main id="page_body">

{% endblock body %}
