{% extends "base/base.html.j2" %}


{% block page_content %}

<!-- <div x-data="{name:''}" x-show="false" class="test">
      <label for="test">Name:</label>
      <input id="test" type="text" x-model="name" />
      <p x-text="name">
    </div> -->

<section>
  <h3>Welcome</h3>
{{ lipsum() }}
</section>

{% endblock page_content %}
