{% extends "base/base.html.j2" %}

{% block head_styles %}
  {{ m.link_style('css/styles.css')}}
{% endblock %}

{% block content -%}
<!-- Page_Content from page.html.j2 tempalate, flatpage object -->
<main id="page_body">

  <section>
  {% block page_heading -%}
    <h1>{{ title | title }}</h1>
  {%- endblock %}

  {% block page_content -%}
    {{ page.html | responsive_images(img_layout, img_url, wrap_picture=True)}}
  {%- endblock %}
  </section>

  {% block extra_content -%}
    {# for extra content not controlled by flatpage #}
  {%- endblock %}


</main>
<!-- End page_content -->

<aside id="page_sidebar">

  {% block side_content -%}
    {{ side.html }}
  {%- endblock %}

</aside>

{%- endblock %}
