{% extends "base/base.html.j2" %}

{% block body -%}
<!-- Page_Content from page.html.j2 tempalate, flatpage object -->
<main id="page_body">
  {% block page_heading -%}
    <h1>{{ title | title}}</h1>
  {%- endblock %}
  {% block page_content -%}
    {{ page.html }}
  {%- endblock %}
  {% block extra_content -%}
    <!-- for extra content not controlled by flatpage -->
  {%- endblock %}
</main>
<!-- End page_content -->

<aside id="page_sidebar">
  {% block side_content -%}
    <h3>Test sidebar</h3>
    Aliquip amet minim eiusmod anim enim laboris consequat voluptate velit excepteur ipsum cupidatat in dolore in irure fugiat. Officia commodo sunt Lorem cillum cupidatat duis consectetur consectetur. Exercitation elit aliqua incididunt amet commodo adipisicing tempor cupidatat voluptate ex ex non tempor deserunt ad labore. Labore nulla mollit sunt veniam nisi anim quis do. Labore ut labore qui ex id proident velit ex mollit magna dolor dolore deserunt. Elit sit cupidatat excepteur fugiat magna ex culpa incididunt fugiat sint.
  {%- endblock %}
</aside>
{%- endblock %}
