{% extends "base/base.html.j2" %}

{% block body -%}
<!-- Page_Content from page.html.j2 tempalate, flatpage object -->
<main id="page_body">
  {% block page_heading -%}
    <h1>{{ title | title}}</h1>
  {%- endblock %}
  {% block page_content -%}
    {{ page.html }}
  {%- endblock %}
  {% block extra_content -%}
    <!-- for extra content not controlled by flatpage -->
  {%- endblock %}
</main>
<!-- End page_content -->

<aside id="page_sidebar">
  {% block side_content -%}
    {{ side.html }}
  {%- endblock %}
</aside>
{%- endblock %}
