{% extends "generic/page.html.j2" %}


{% block head_styles %}
  {{super()}}
  <style>
  main {background-color: #bbb !important;}
  aside {background-color: #eee !important;}
  </style>
{% endblock %}

{% block page_content %}
<svg class="u-icon" style="--scale:10em;--stroke-clr:var(--Co)">
  <use href="{{ m.svg_fragment('icons/podium', 'podium') }}"/>
</svg>
<img
  class="u-icon"
  style="--scale:10rem;"
  src="{{ m.svg_file('icons', 'podium')}}"
  alt="">

  <div class="svg_wrapper">
    <svg class="u-icon" style="--scale:5em;--stroke-clr:var(--Mn);">
      <use href="{{ m.svg_fragment('targets/abstract', 'abstract') }}"/>
    </svg>
    <p>Use embedded svg from symbol element to include dynamic painting</p>
    <img class="u-icon" style="--scale:5em;display:block;" src="{{ m.svg_file('targets', 'abstract')}}" alt="">
    <img class="u-icon" style="--scale:5em;display:block;" src="{{ m.svg_file('targets', 'target')}}" alt="">
    <img class="u-icon" style="--scale:5em;display:block;" src="{{ m.svg_file('targets', 'field')}}" alt="">
    <p>Use seperate svg files as img src</p>
    <div class="resize"
    style="height:5em;width:5em;
    background-repeat: no-repeat;
    background-position:center;
    background-image:url( {{ m.svg_file('targets', 'abstract') }} );
    ">
    </div>
    <div class="resize"
    style="height:5em;width:5em;
    background-repeat: no-repeat;
    background-position:center;
    background-image:url( {{ m.svg_file('targets', 'target') }} );
    ">
    </div>
    <ul style="list-style-image: url({{ m.svg_file('targets', 'field') }});" >
      <li>List item</li>
    </ul>
    <p>Use seperate svg files as css background-img source</p>
  </div>

{% endblock %}

{% block side_content %}

{% endblock %}
