@use "../vars" as *;

/* *** */
/* Global Styles */
/* *** */
html {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;

  @media screen and (min-width: $bp-medium) {
    font-size: 20px;
  }
}
/* *** */
/* Element spacing */
/* *** */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}
/* 1 line spacing between all adjacent elements in tree */
*+* {
  margin-top: 0.75em;
}
/* Exceptions to above rule for: */
/* adjacent paragrpahs, list items etc */
li+li {
  margin-top: 0.5em;
}

nav li+li,
source+img,
:is(div, main, header, nav, section, article, footer) {
  margin-top: 0;
}
