@use "../vars" as *;
@use "sass:math";

/* *** */
/* Element Styles */
/* Resets and general styling*/
/* *** */
a {
  text-decoration: underline double;
}
/* example inserting unicode into pseudoelement */
/* a::before {
  content: "\1F4DE";
  color: blue;
} */
a {
  &:link {
    color: $c-theme;
  }

  &:visited {
    color: $c-theme-shadow;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }

  &:focus {
    outline: 2px dotted $c-theme-highlight;
  }

  &:active {
    background-color: $c-theme-highlight;
    color: white;
    opacity: revert;
    outline: none;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  // background: transparent;
  // border: 2px solid currentColor;
  // border-radius: 4px;
}
/* Contact form specific */
form {
  /* align-items:stretch; */
  display: flex;
  flex-direction: column;
}

form :is(input, textarea):focus {
  // outline-color: c-color(Na);
}

h1:first-of-type {
  font-weight: 900;
}

@include headings {
  color: c-neutral(200, $c-theme-hue);
}

// Set modular type scale to pass through h4
$scale: 1.25;
@for $i from 1 through 6 {
  h#{$i} {
    font-size: 1em * math.pow($scale, (4-$i));
  }
}

nav {
  ol,
  ul {
    list-style: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  /* object-fit: contain; */
  font-style: italic;
  color: #888;
}


img::after{
  content: ' - img not loaded';
}

input {
  height: 2em;
}

input,
textarea {
  border: 1px solid c-neutral(600);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
}




summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

textarea {
  resize: vertical;
}

p {
  color: c-neutral(100, $c-theme-hue);
}
