@use "../vars" as *;
/* *** */
/* Utilitiies */
/* *** */
.u-notop {
  margin-top: 0;
}

.u-none {
  display: none !important;
}

.u-icon {
  --scale: 1em;
  display: inline-block;
  width: var(--scale);
  height: var(--scale);

  &--colored {
    @extend .u-icon;
    --stroke-color: black;
    --fill-color: black;
    stroke: var(--stroke-color);
    fill: var(--fill-color);
  }
}

.u-resize {
  resize:both;
  overflow:auto;
}

@each $name, $c in $c-colors {
  .u-color-#{$name} {
    color: $c;
  }
  .u-bg-#{$name} {
    background-color: $c;
  }
}

@each $label, $params in $c-neutrals {
  $g: neutral($label, $c-theme-hue);
  .u-bg-grey-#{$label} {
    background-color: $g;
  }
}
