@use "../vars" as *;
/* *** */
/* Utilitiies */
/* *** */
.red {
  color: red;
}

.notop {
  margin-top: 0;
}

.hidden {
  display: none !important;
}

.icon {
  --scale: 1em;
  display: inline-block;
  width: var(--scale);
  height: var(--scale);

  &--colored {
    @extend .icon;
    --stroke-color: black;
    --fill-color: black;
    stroke: var(--stroke-color);
    fill: var(--fill-color);
  }
}

.resize {
  resize:both;
  overflow:auto;
}

@each $name, $c in $colors {
  .color-#{$name} {
    color: $c;
  }
}
