/* *** */
/* Global Styles */
/* *** */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* *** */
/* Element spacing */
/* *** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 1 line spacing between all adjacent elements in tree */
*+* {
  margin-top: 1.5em;
}

/* Exceptions to above rule for adjacent paragrpahs, list items etc */
li+li,
p+p {
  margin-top: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

/* Level 0 */
/* Page body size and attributes */
/* mobile */
body {
  font-family: "RobotoSlab";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

/* large screen/desktop */
@media screen and (min-width: 110ch) {
  body {
    align-items: start;
    margin: auto;
    min-height: 100vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
  }

  main {
    grid-area: main;
  }

  body>aside {
    grid-area: aside;
  }
}

/* Level 1 */
/* Direct body descendants */
body>* {
  margin: 0;
  padding: 1rem 2rem 0;
}

:is(header, nav, main, section, article, aside, footer) :is(h1, h2) {
  font-weight: 900;
}

/* *** */
/* Element Styles */
/* *** */
a {
 color: var(--color-Rb);
 text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.red {
  color: red;
}

/* Contact form specific */
form {
  /* align-items:stretch; */
  display: flex;
  flex-direction: column;
}

form :is(input, textarea):focus {
  outline-color: var(--color-Na);
}

/* form textarea,
form input {
  width: 100%;
} */

/* #contact-form label {
  display: block
} */
#contact-form label[for="title"] {
  display: none;
}

/* header and site_nav styling */
/* make global banner container a flexbox */
#site_header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  grid-area: header;
}
/* left part: header/home link */
#site_header h2 {
  margin: 0;
  padding-right: 2em;
}

/* right part: nav links */
#site_nav {
  margin-left: auto;
}

#site_nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em auto;
  padding: 0;
}

#site_nav li:not(:last-child)::after {
  content: '|';
  padding: 0 1em;
}

/* header link styling */
#site_header a:hover,
#site_header a:focus {
    border-bottom: 0.25em solid var(--color-Na);
    border-top: 0.25em solid var(--color-Na);
    text-decoration: none;
}

#site_footer {
  grid-area: footer;
}
/* *** */
/* Default Accesibility */
/* *** */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
