@use "vars" as *;
@use "sass:color";
@use "sass:math";

.hamburger {
  $color-active: white;
  $width: 2em;
  /* remove default button styling */
  all: unset;

  margin-top: 0;
  margin-left: auto;
  cursor: pointer;
  border: 1px solid transparent;
  // border-radius: .5em;
  display: grid;
  height: 1.5em;
  place-items: center;
  padding: 0.25em;

  span,
  span::before,
  span::after {
    content: '';
    width: $width;
    height: 0.25em;
    background-color: currentColor;
    display: inline-block;
    position: relative;
  }

  span::before {
    position: absolute;
    bottom: 0.5em;
  }
  span::after {
    position: absolute;
    top: 0.5em;
  }

  &:hover {
    color: $color-active;
  }

  &:focus {
    outline: 2px dotted $color-active;

  }
  &:focus:not(:focus-visible) {
    outline: none;
  }


}

.c-slant-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  @include clip-stripe-r;
}

.intro-card {
  // border: 1px solid green;
  max-width: none;
  padding: 0 max(1em, calc(50vw - 15em)); /* max width of content is 30em */

  &:nth-child(odd) {
    background-color: c-neutral(800);
  }
  &:nth-child(even) {
    background-color: c-neutral(700);
  }

  &-img {
    @extend .c-slant-img;
    aspect-ratio: 1/1;
  }
}
