@use "vars" as *;
@use "sass:color";
@use "sass:math";

.o-btn-blank {
  background: none;
  border: none;
  color: inherit;
  margin:0;
  padding:0;
  display: grid;
  place-items: center;
}

.o-hamburger {
  $color-active: white; // component specific behaviour
  --color: currentColor;  // component specific behaviour
  margin-top: 0;
  margin-left: auto;
  cursor: pointer;  // component specific behaviour
  height: 2em;
  width: 3em;
  padding: 0.25em 0;
  fill: var(--color);  // component specific behaviour??
  color: inherit;  // component specific behaviour??

  &:hover {
    --color: #{$color-active};
  }

}

.o-slant-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  @include slant-h;
}

/* Site hero-header styling */
.o-hero {
  padding: 0;
  margin-top:0;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  max-height: 100vh;

  & > *:first-child {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
  }
}
