@use "vars" as *;
@use "sass:color";
@use "sass:math";

.o-btn-blank {
  background: none;
  border: none;
  color: inherit;
  margin:0;
  padding:0;
  display: grid;
  place-items: center;
}

.o-hamburger {
  $color-active: white; // component specific behaviour
  --color: currentColor;  // component specific behaviour
  margin-top: 0;
  margin-left: auto;
  cursor: pointer;  // component specific behaviour
  height: 2em;
  width: 3em;
  padding: 0.25em 0;
  fill: var(--color);  // component specific behaviour??
  color: inherit;  // component specific behaviour??

  &:hover {
    --color: #{$color-active};
  }

}

.o-slant-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  @include mxn-slant-h;
}
