/* header and site_nav styling */
.site_nav {
  --color-active: white;
  --color-theme: var(--Li-pur);
  background-color: var(--color-theme);
  /* background: linear-gradient(
    var(--color-theme) 95%,
    var(--alpha-00)
    ); */
  color: var(--greys-l4);
  font-family: "PublicSans", Tahoma, Arial, sans-serif;
  text-shadow: 0 0 8px var(--Li-blk);

  /* left part: header/home link */
  h2 {
    padding-right: 2em;
    color: inherit;
  }

  /* right part: nav links */
  ul {
    font-weight: 200;
    margin: 0 0 1em auto;
    padding: 0;
  }

  a {
    color: inherit;
    padding: 5px;

    /* refactor to a ::before/::after pseudo element rather than border */
    &:hover {
     border-bottom: 3px solid var(--color-active);
     opacity: revert;
     text-decoration: none;
    }
    &:focus {
      color: var(--color-active);
      outline: 1px solid currentColor;
      /* outline-offset: 3px; */
      box-shadow:
        0 0 2px 4px currentColor;
    }
    &:active {
      background-color: var(--Li-wht);
      /* box-shadow: revert; */
    }

  }

}

/* Nav needs to collapse again at medium breakpoint ~660px with current links */
@media screen and (min-width: 85ch) {
  .site_nav {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  .site_nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  .site_nav li:not(:last-child)::after {
    content: '|';
    padding: 0 1em;
  }
}
