{% import "macros/macros.j2" as m -%}


<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>

  <!-- start base/head -->
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//cdn.tomhallarchery.com">

  <!-- Meta -->
  <title>{{ title | title }} | Tom Hall Archery </title>
  {{ m.meta("description",  description ) }}
  {{ m.meta("keywords",  keywords ) }}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#D70A53" />
  {%- block head_meta -%}
  {%- endblock %}


  <!-- favicon -->
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='symbols/favicon/favicon.svg') }}">
  {#<link rel="icon" type="image/png" href="{{ url_for('static', filename='symbols/favicon/favicon.ico') }}">#}


  <!-- fonts -->
  {%- block head_fonts -%}
  <link rel="preload" href="{{ url_for('static', filename='fonts/Roboto_Slab/RobotoSlab-VariableFont_wght-Latin.woff2') }}" as="font" type="font/woff2" crossorigin>
  {%- endblock %}


  <!-- styles -->
  {%- block head_styles -%}
    {{ m.link_style('css/styles.css')}}
    {{ m.link_style('css/layouts/default.css')}}
  {%- endblock %}


  <!-- js -->
  <!-- Alpine JS (Modern JQuery replacement for minor animations/ui/reactive parts) -->
  <script src="{{ url_for('static', filename='js/alpine.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/site_nav.js') }}" ></script>
  <!-- end base/head -->

</head>



<body>

{# Nav bar contains header logo #}
{% block nav %}

<nav class="site_nav">
  {% include "base/nav.html.j2" %}
</nav>

{% endblock %}

{# seperate header not currently used #}
{% block header %}
{% include "base/header.html.j2" %}
{% endblock %}


{% block content -%}
{%- endblock %}


{% block footer %}
{% include "base/footer.html.j2" %}
{% endblock %}

</body>

</html>
