<!-- from nav template -->
{{ m.link_style('css/sitenav.css')}}
<nav id="site_nav" class="site_nav">
  <h2><a href="/">TomHallArchery</a></h2>
  <ul>
    <li><a href={{ url_for('serve_sponsors')}}>Sponsors</a></li>
    <li><a href={{ url_for('serve_results')}}>Results</a></li>
    <li><a href={{ url_for('serve_articles')}}>Articles</a></li>
    <li><a href={{ url_for('contact_page')}}>Contact</a></li>
  </ul>
</nav>
<!-- end nav template -->
