<!-- from nav template -->
<nav class="{{ m.layout(layout, 'nav') }} c-site-nav" x-data= "{navOpen: false}">

  <h2 class="c-site-nav__header">
    <a href= {{ url_for('pages.home')}}>TomHallArchery</a>
  </h2>

  <button class="c-site-nav__btn is-hidden" type="button" @click="navOpen = !navOpen" :class="{'is-hidden' : false}">
    <svg class="o-hamburger" viewBox="0 0 120 100" aria-labelledby="NavIconTitle">
      <title id="NavIconTitle">Menu Icon</title>
      <rect y="00" width="120" height="20"></rect>
      <rect y="40" width="120" height="20"></rect>
      <rect y="80" width="120" height="20"></rect>
    </svg>
  </button>

  <ul class="c-site-nav__menu is-open" x-bind:class="{'is-open' : navOpen}">
    <li>
      <a href={{ url_for('pages.articles')}}>Articles</a>
    </li>
    <li>
      <a href={{ url_for('pages.contact')}}>Contact</a>
    </li>
  </ul>

</nav>
<!-- end nav template -->
