<h2>Nav</h2>
<ul>
<li><a href={{ url_for('serve_page', path_requested='sponsors')}}>Sponsors</a></li>
<li><a href={{ url_for('serve_page', path_requested='results')}}>Results</a></li>
<li><a href={{ url_for('serve_articles')}}>Articles</a></li>
</ul>
