<!-- from nav template -->
  <h2><a href="/">TomHallArchery</a></h2>
  <button class="site_nav--btn" type="button">
    <svg class="hamburger hidden" viewBox="0 0 120 100" aria-labelledby="NavIconTitle">
      <title id="NavIconTitle">Menu Icon</title>
      <rect y="00" width="120" height="20"></rect>
      <rect y="40" width="120" height="20"></rect>
      <rect y="80" width="120" height="20"></rect>
    </svg>
  </button>
  <ul class="open">
    {#
    <li><a href={{ url_for('sponsors_page')}}>Sponsors</a></li>
    <li><a href={{ url_for('results_page')}}>Results</a></li>
    #}
    <li><a href={{ url_for('serve_articles_index')}}>Articles</a></li>
    <li><a href={{ url_for('contact_page')}}>Contact</a></li>
  </ul>

<!-- end nav template -->
