/* Starting colors
#d70a53 theme color
#ffa700 accent color

*/

/* See https://www.viget.com/articles/add-colors-to-your-palette-with-color-mixing/ */

/* Interpolated color wheel
#A8247C : hsl(320, 065%, 40%) #
#D70A53 : hsl(339, 091%, 44%) #primary
#E91C29 : hsl(356, 075%, 54%) #
#EB5928 : hsl(023, 088%, 53%) #
#FFA700 :	hsl(039, 100%, 50%) #secondary
#EADE06 : hsl(057, 095%, 47%) #
#52D70A : hsl(099, 091%, 44%) #t2
#21DE70 : hsl(145, 074%, 50%) #
#0DC5B5 : hsl(175, 088%, 41%) #
#0A9DD7 :	hsl(197, 091%, 44%) #t2
#3178C4 : hsl(211, 060%, 48%) #tertiary
#6A4992 :	hsl(267, 033%, 43%) #t2
*/

/* greyscales
#F0F0EF : hsl(39,5%,94%) #l4 lightest
#D6D4D1 : hsl(39,5%,83%) #l3
#BBB9B4 : hsl(39,5%,72%) #l2
#A19D97 : hsl(39,5%,61%) #l1 11% lighter
#868179 : hsl(39,5%,50%) #m0 neutral
#68655E : hsl(39,5%,39%) #d1 11% darker
#4B4844 : hsl(39,5%,28%) #d2
#2E2C29 : hsl(39,5%,17%) #d3
#10100F : hsl(39,5%,06%) #d4 darkest
*/

/* shades and tints from python script
#65164A;#861D63;#A8247C;#B95096;#CB7CB0
#810632;#AC0842;#D70A53;#DF3B75;#E76C98
#8C1119;#BA1621;#E91C29;#ED4954;#F2777F
#8D3518;#BC4720;#EB5928;#EF7A53;#F39B7E
#996400;#CC8600;#FFA700;#FFB933;#FFCA66
#8C8504;#BBB205;#EADE06;#EEE538;#F2EB6A
#318106;#42AC08;#52D70A;#75DF3B;#97E76C
#148543;#1AB25A;#21DE70;#4DE58D;#7AEBA9
#08766D;#0A9E91;#0DC5B5;#3DD1C4;#6EDCD3
#065E81;#087EAC;#0A9DD7;#3BB1DF;#6CC4E7
#1D4876;#27609D;#3178C4;#5A93D0;#83AEDC
#402C58;#553A75;#6A4992;#886DA8;#A692BE
*/

/* full greytones css rules
:root {
--greys-l4: #F0F0EF;
--greys-l3: #D6D4D1;
--greys-l2: #BBB9B4;
--greys-l1: #A19D97;
--greys-m0: #868179;
--greys-d1: #68655E;
--greys-d2: #4B4844;
--greys-d3: #2E2C29;
--greys-d4: #10100F;
--alpha-00: #fff0;
}*/

/* full 12 colors all tones in css rules */
:root {
  --Rb-blk: #65164A; --Rb-drk: #861D63; --Rb-pur: #A8247C; --Rb-lit: #B95096; --Rb-wht: #CB7CB0;
  --Li-blk: #810632; --Li-drk: #AC0842; --Li-pur: #D70A53; --Li-lit: #DF3B75; --Li-wht: #E76C98;
  --Sr-blk: #8C1119; --Sr-drk: #BA1621; --Sr-pur: #E91C29; --Sr-lit: #ED4954; --Sr-wht: #F2777F;
  --Ru-blk: #8D3518; --Ru-drk: #BC4720; --Ru-pur: #EB5928; --Ru-lit: #EF7A53; --Ru-wht: #F39B7E;
  --Na-blk: #996400; --Na-drk: #CC8600; --Na-pur: #FFA700; --Na-lit: #FFB933; --Na-wht: #FFCA66;
  --Cd-blk: #8C8504; --Cd-drk: #BBB205; --Cd-pur: #EADE06; --Cd-lit: #EEE538; --Cd-wht: #F2EB6A;
  --Cl-blk: #318106; --Cl-drk: #42AC08; --Cl-pur: #52D70A; --Cl-lit: #75DF3B; --Cl-wht: #97E76C;
  --Se-blk: #148543; --Se-drk: #1AB25A; --Se-pur: #21DE70; --Se-lit: #4DE58D; --Se-wht: #7AEBA9;
  --Cu-blk: #08766D; --Cu-drk: #0A9E91; --Cu-pur: #0DC5B5; --Cu-lit: #3DD1C4; --Cu-wht: #6EDCD3;
  --In-blk: #065E81; --In-drk: #087EAC; --In-pur: #0A9DD7; --In-lit: #3BB1DF; --In-wht: #6CC4E7;
  --Co-blk: #1D4876; --Co-drk: #27609D; --Co-pur: #3178C4; --Co-lit: #5A93D0; --Co-wht: #83AEDC;
  --Mn-blk: #402C58; --Mn-drk: #553A75; --Mn-pur: #6A4992; --Mn-lit: #886DA8; --Mn-wht: #A692BE;
}
*/
