<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Home of Team GB archer and online coach Tom Hall">
  <meta name="theme-color" content="#ffa700" />
  <title>Tom Hall Archery - {{ title }}</title>
  <!-- Styles -->
  <link rel="stylesheet" href="./css/custom.css">
  <!-- JS -->
  <!-- Alpine JS (Modern JQuery replacement for minor animations/ui/reactive parts) -->
  <script src="./js/alpine.min.js" defer></script>
</head>

<body>
  <header>
    {{ title }}
  </header>
  <hr class="h-dbl-grad" style="--h:1em;">
    {{ content }}
  <main>

  </main>
</body>

</html>
