@use "sass:map";
@use "sass:color";

// set base colors
$colors: (
  Rb: #A8247C,
  Li: #D70A53,
  Sr: #E91C29,
  Ru: #EB5928,
  Na: #FFA700,
  Cd: #EADE06,
  Cl: #52D70A,
  Se: #21DE70,
  Cu: #0DC5B5,
  In: #0A9DD7,
  Co: #3178C4,
  Mn: #6A4992
);

$neutrals: (

);


// themeing
$theme: map.get($colors, Li);
$active: white;

@function theme($c) {
  @return map.get($theme, $c)
};


$active-off: color.mix($active, $theme, $weight: 90%);

// Theme color variants
$theme-shadow: color.scale($theme, $lightness: -60%);
$theme-shade: color.scale($theme, $lightness: -10%);
$theme-tint: color.scale($theme, $lightness: 10%);
$theme-highlight: color.scale($theme, $lightness: 40%);

// Naming??
$theme-bg: color.mix(#fff, $theme, $weight: 99%);
$theme-grey-950: color.mix(#f8f8f8, $theme, $weight: 99%);
$theme-grey-900: color.mix(#eee, $theme, $weight: 99%);
$theme-grey-500: color.mix(#888, $theme, $weight: 99%);
$theme-grey-100: color.mix(#222, $theme, $weight: 99%);
