@use "sass:map";
@use "sass:color";
@use "sass:math";

// CONFIG
$test: null;

// set base colors
$colors: (
  Rb: #A8247C,
  Li: #D70A53,
  Sr: #E91C29,
  Ru: #EB5928,
  Na: #FFA700,
  Cd: #EADE06,
  Cl: #52D70A,
  Se: #21DE70,
  Cu: #0DC5B5,
  In: #0A9DD7,
  Co: #3178C4,
  Mn: #6A4992
);

@function color($name){
  @return map.get($colors, $name);
}

$neutrals: (
  950: (lgt: 98%, sat: 10%),
  900: (lgt: 95%, sat: 8%),
  800: (lgt: 90%, sat: 3%),
  700: (lgt: 85%, sat: 1.5%),
  600: (lgt: 70%, sat: 1%),
  500: (lgt: 50%, sat: 0.5%),
  400: (lgt: 37%, sat: 1.5%),
  300: (lgt: 25%, sat: 2.5%),
  200: (lgt: 13%, sat: 8%),
  100: (lgt: 08%, sat: 20%),
  50: (lgt: 04%, sat: 70%),
);

@function neutral($value: 500, $hue: null) {
  $v: map.get($neutrals, $value);
  $lgt: map.get($v, lgt);
  @if $hue {
    $sat: map.get($v, sat);
    $grey: hsl($hue, $sat, $lgt);
    @return $grey /* "grey-#{500}" */;
  }
  @else {
    $grey: hsl(0deg, 0%, $lgt);
    @return $grey;
  }

};

// @debug neutral();
// @debug neutral(200);
// @debug neutral(800);
// @debug neutral(800, color.hue(color(Li)));
// @debug neutral(800, color.hue(color(Co)));

// themeing
$theme: color(Li);
$accent: color(Na);
$active: white;

$theme-hue: color.hue($theme);
$theme-sat: color.saturation($theme);
$theme-lgt: color.lightness($theme);

// Theme color variants
$active-off: neutral(900);

$theme-shadow: color.scale($theme, $lightness: -60%);
$theme-shade: color.scale($theme, $lightness: -10%);
$theme-tint: color.scale($theme, $lightness: 10%);
$theme-highlight: color.scale($theme, $lightness: 40%);





@if $test {
  @each $label, $params in $neutrals {
    $g: neutral($label, $theme-hue);

    ._grey-#{$label} {
      background-color: $g;
      width: 200px;
      height: 100px;
      position: relative;

      &::before {
        content: "";
        width: 100px;
        height: 100px;
        display: inline-block;
        background-color: color.grayscale($g);
      }

      &::marker {
        content: "#{$label}";
        margin-right: 2em;
      }
    }
  }
}
