$col-Rb: #A8247C;
$col-Li: #D70A53;
$col-Sr: #E91C29;
$col-Ru: #EB5928;
$col-Na: #FFA700;
$col-Cd: #EADE06;
$col-Cl: #52D70A;
$col-Se: #21DE70;
$col-Cu: #0DC5B5;
$col-In: #0A9DD7;
$col-Co: #3178C4;
$col-Mn: #6A4992;

$colors: (
  Rb: $col-Rb,
  Li: $col-Li,
  Sr: $col-Sr,
  Ru: $col-Ru,
  Na: $col-Na,
  Cd: $col-Cd,
  Cl: $col-Cl,
  Se: $col-Se,
  Cu: $col-Cu,
  In: $col-In,
  Co: $col-Co,
  Mn: $col-Mn
)
