@use "../vars" as *;

/* #contact-form label {
  display: block
} */
.contact-form {
  button {
    background-color: $c-active;
    border: 2px solid $c-theme;
    color: $c-theme;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;

    &:focus,
    &:hover {
      background-color: $c-theme;
      color: $c-active;
    }
  }

  label[for="title"] {
    display: none;
  }
}
