@use "../vars" as *;
@use "sass:color";

/* Site_nav styling */
$c-theme: $col-Rb;
$c-active: white;

$c-normal: color.mix($c-active, $c-theme, $weight: 90%);

$c-shadow: color.scale($c-theme, $lightness: -60%);
$c-tint: color.scale($c-theme, $lightness: 10%);
$c-shade: color.scale($c-theme, $lightness: -10%);
$c-highlight: color.scale($c-theme, $lightness: 40%);


.site_nav {
  --c-active: #{$c-active};
  --c-theme: #{$c-theme};
  background-color: $c-theme;
  background-image: linear-gradient(
    $c-tint 5%,
    $c-theme 50%,
    $c-shade 95%
    );
  color: $c-normal;
  font-family: "PublicSans", Tahoma, Arial, sans-serif;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  // font-size: 1.125em;

  /* left part: header/home link */
  h2 {
    color: inherit;
  }

  /* right part: nav links */
  ul {
    display: none;
    flex-direction: column;
    flex-basis: 100vw;
    font-weight: 250;
    margin-left: auto;
    padding: 0;
  }

  ul.open {
    display: flex;
  }

  li {
    display: block; //not list item
    line-height: 2em;
  }

  a {
    color: inherit;
    padding: 5px;
    text-decoration: none;
    text-shadow:
      1px 1px 2px $c-shadow,
      ;
      // -1px -1px 1px #ddd2;
    transition: all 150ms ease-in-out;
    /* refactor to a ::before/::after pseudo element rather than border */
    &:hover,
    .u-hover {
      border-width: 3px 0;
      border-style: solid;
      border-color: $c-active;
      border-image-source:
        linear-gradient(
          to right,
          transparent,
          $c-active,
          transparent
        );
      border-image-slice: 1;
      color: $c-active;
      opacity: revert; // revert default link opacity styling
      text-decoration: none;
      text-shadow:
        1px 1px 3px $c-shadow,
        ;
    }

    &:focus-visible {
      color: $c-active;
      outline: 1px solid currentColor;
      /* outline-offset: 3px; */
      box-shadow:
        0 0 2px 4px currentColor;
    }

    &:active {
      background-color: $c-highlight;
      // box-shadow: revert;
    }

  }

}

/* Nav needs to collapse again at medium breakpoint ~660px with current links */
@media screen and (min-width: $bp-small) {
  .site_nav {

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: auto;
      margin-top: 0;
    }

    .hamburger {
      display: none;
      margin-top: 0.5em;
    }

    li:not(:last-child)::after {
      content: '|';
      padding: 0 clamp(0.5em, 1vw, 1em);
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .site_nav {
    font-size: 1.125em;
  }
}
